* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page-container {
	max-width: 100%;
	display: flex;
}
.left-side {
	width: 25%;
	background-color: #3a5e90;
    display: inline-block;
}	
.right-side {
	width: calc(75% - 6px);
    display: inline-block;
}
.avatar {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;	
    margin: 0 auto;
    margin-top: 30px;
	margin-bottom: 30px;
}
.image {
	display: block;
	width: 100%;
}
.info{
    margin-left: 20px;
	color: #ffffff;
}
.info{
    width: 100%;
}
.line{
    background: white;
    width: 95%;
    height: 3px;
    margin: 15px 0px;
}	
.p1{
	margin-bottom: 15px;
}	
.info2{
	margin-bottom: 10px; 	
	margin-left: 20px;
	color: #ffffff;
}
.info3{
	margin-bottom: 20px; 	
	margin-left: 20px;
	color: #ffffff;
}
.me{
	margin-left: 70px;
	margin-bottom: 30px;
}
.panel{
	margin-top: 25px;
	text-align: center;
}
.row{
	display: flex;
    justify-content: space-between;
	padding-right: 15px;
}
.menu{
	text-decoration: none;
	margin-left: 80px;
	font-size: 23px;
	margin-right: 80px;
	color: #000000;
}
.line2{
    background: rgb(102, 100, 100);
    width: 95%;
    height: 3px;
    margin: 15px;
}	
.about{
	margin-left: 35px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.retreat{	
	margin-bottom: 5px;
}
.list{
	margin-left: 50px;
}
.hreff a{
	text-decoration: none;
	color: #3a5e90;
}
.sul{
	color: #000000;
}
.sul1{
	color: #3a5e90;
}
.trap{
	text-decoration: none;
	color: #3a5e90;
}
h1{
	font-size: 24px;
}